---
import Layout from "../../layouts/Base.astro"
import { getCollection } from "astro:content"
import { Image } from "astro:assets"
import FormattedDate from "../../components/FormattedDate.astro"
import { effect } from "astro:schema"

type NullableDate = Date | null

function compareDates(a, b) {
	if (b.data.endDate && a.data.endDate) {
		return (
			b.data.endDate.valueOf() - a.data.endDate.valueOf()
		)
	} else {
		return false
	}
}

function refineBookDate(book): any {
	const updatedBook = book.data
	let startDate: NullableDate = null
	let endDate: NullableDate = null
	let publishDate: NullableDate = null

	if (book.data.startDate)
		startDate = new Date(
			new Date(book.data.startDate)
				.toISOString()
				.replaceAll(/-/g, "\/")
				.replace(/T.+/, "")
		)

	if (book.data.endDate)
		endDate = new Date(
			new Date(book.data.endDate)
				.toISOString()
				.replaceAll(/-/g, "\/")
				.replace(/T.+/, "")
		)

	if (book.data.publishDate)
		publishDate = new Date(
			new Date(book.data.publishDate)
				.toISOString()
				.replaceAll(/-/g, "\/")
				.replace(/T.+/, "")
		)

	const fullDate = endDate ? endDate : startDate

	if (fullDate)
		updatedBook["imageSrc"] =
			`/images/covers/${fullDate.getFullYear()}/${book.data.isbn}.webp`

	if (book.data.startDate && startDate)
		updatedBook.startDate = startDate
	if (book.data.endDate && endDate)
		updatedBook.endDate = endDate
	if (book.data.publishDate && publishDate)
		updatedBook.publishDate = publishDate
	return updatedBook
}

const finishedBooks = (await getCollection("reading"))
	.filter(
		x =>
			x.data.Finished == "Finished" &&
			x.data.readType != "audio"
	)
	.sort((a, b) => compareDates(a, b))
	.map(x => refineBookDate(x))

const inprogressBooks = (await getCollection("reading"))
	.filter(
		x =>
			x.data.Finished == "Reading" &&
			x.data.readType != "audio"
	)
	.sort((a, b) => compareDates(a, b))
	.map(x => refineBookDate(x))
---

<script>
	const cards = document.querySelectorAll(
		".collection-cards__card"
	)
	function clearAllActives() {
		cards.forEach(card => {
			card.classList.remove("active")
		})
	}

	cards.forEach(card => {
		card.addEventListener("mouseenter", () => {
			clearAllActives()
			card.classList.add("active")
		})
		card.addEventListener("mouseleave", () => {
			card.classList.remove("active")
		})
	})
</script>

<Layout title="Reading list">
	<h1>Stuff I've read</h1>

	<div class="collection-cards">
		{
			finishedBooks.map(book => (
				<article class="collection-cards__card">
					{book["imageSrc"] && (
						<Image
							class="collection-cards__card__image"
							src={book["imageSrc"]}
							alt=""
							width={400}
							height={400}
							loading={"eager"}
						/>
					)}
					<p class="collection-cards__card__date">
						Finished: <FormattedDate date={book.endDate} />
					</p>
					<div class="collection-cards__card__content">
						<h3>{book.author}</h3>
						<h2>{book.title}</h2>
						<table>
							<tbody>
								<tr>
									<th scope="row">Finished:</th>
									<td>
										<FormattedDate date={book.endDate} />
									</td>
								</tr>
								<tr>
									<th scope="row">Type:</th>
									<td>{book.readType}</td>
								</tr>
								<tr>
									<th scope="row">Rating:</th>
									<td>{book.ratingBook} / 5</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>
			))
		}
	</div>
</Layout>
