---
import Layout from "../layouts/Base.astro"
import PostsLarge from "../components/PostsLarge.astro"
import { Image } from "astro:assets"
import craigHiking from "../images/craig-hiking-about.webp"
import { formatDate } from "../utils/formatting.js"

const url = "https://movies.craigwfox.com/api/most-recent"
let movies: {
	name: string
	watch_date: string
	slug: string
	poster_path: string
}[] = []
let moviesLoaded = false
try {
	const response = await fetch(url)
	movies = await response.json()
} finally {
	moviesLoaded = true
}
---

<Layout title="Welcome">
	<div class="home-grid">
		<section
			id="about"
			class="sidebar-home-wrapper"
			aria-labelledby="title-about"
			data-col="1"
		>
			<div class="sidebar-home">
				<h1 id="title-about">
					I'm <strong>Craig Fox</strong>, UX engineer, maker, and geek
				</h1>

				<div class="rounded-image">
					<Image
						src={craigHiking}
						alt="Craig standing like a dofus while hiking"
						width={400}
						height={400}
						loading={"eager"}
					/>
				</div>

				<div class="sidebar-home__extras">
					<h2 id="title-work">Stuff I've done</h2>
					<div class="movies-list">
						<h3>
							<a href="https://movies.craigwfox.com">
								What Have We Watched
							</a>
						</h3>
						<p>
							A website showing the movies my wife and I have watched
							over the last few years on our weekly movie night.
						</p>
						{
							moviesLoaded && movies ? (
								<ul>
									{movies.map(movie => (
										<li>
											<a
												href={`https://movies.craigwfox.com/movie/${movie.slug}`}
												target="_blank"
											>
												<span class="movies-list__img">
													<img
														src={`https://image.tmdb.org/t/p/w342/${movie.poster_path}`}
														alt=""
													/>
												</span>
												<span class="movies-list__title">
													{movie.name}
												</span>
												<span class="movies-list__date">
													{formatDate(movie.watch_date)}
												</span>
											</a>
										</li>
									))}
								</ul>
							) : (
								""
							)
						}
					</div>
					<div>
						<h3>Other stuff</h3>
						<ul class="list-links">
							<li>
								<a href="https://github.com/craigwfox">Github</a>
							</li>
							<li>
								<a href="https://codepen.io/craigwfox">Codepen</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section
			id="home-posts"
			class="home-content"
			aria-labelledby="title-blog"
			data-col="2"
		>
			<h2 id="title-blog">Latest posts</h2>

			<PostsLarge count="5" />

			<a href="/blog" class="btn btn-primary"> View archive</a>
		</section>
	</div>
</Layout>
