---
import Layout from "../../layouts/Base.astro"
import { getCollection } from "astro:content"
import FormattedDate from "../../components/FormattedDate.astro"
import PostTitle from "../../components/hiking/PostTitle.vue"

const { count = 500 } = Astro.props

const posts = (await getCollection("hiking")).sort(
	(a, b) =>
		b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

const trailsList = []
const parksList = []
const stats2025 = {
	trails: 0,
	miles: 0,
	days: 0,
	parks: 0,
}

posts.map(x => {
	const is2025 =
		new Date(x.data.pubDate) > new Date("2025/01/01")
	if (is2025) {
		if (!parksList.includes(x.data.trail)) {
			stats2025.trails += 1
			if (x.data.trail) parksList.push(x.data.trail)
		}
		if (!trailsList.includes(x.data.location[0])) {
			stats2025.parks += 1
			if (x.data.trail) trailsList.push(x.data.location[0])
		}
		x.data.miles ? (stats2025.miles += x.data.miles) : ""
		stats2025.days += 1
	}
})
---

<Layout title="Blog">
	<section
		id="blog"
		aria-labelledby="title-blog"
		class="wrapper section"
	>
		<h1 id="title-blog">Wandering about</h1>

		<div class="post-feed post-feed--hiking">
			{
				posts.map(post => (
					<article class="post-item">
						{post.data.categories != undefined && (
							<ul class="tags">
								{post.data.categories.map(category => (
									<li>{category}</li>
								))}
							</ul>
						)}
						<PostTitle
							title={post.data.title}
							link={`/hiking/${post.slug}/`}
							showPage={post.data.noSingle ? false : true}
						/>
						<table>
							<thead>
								<tr>
									<th>Date</th>
									<th>Miles</th>
									<th>Location</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<FormattedDate
											date={post.data.pubDate}
										/>
									</td>
									<td>{post.data.miles}</td>
									<td>{post.data.location[1]}</td>
								</tr>
							</tbody>
						</table>
						<p>{post.data.description}</p>
					</article>
				))
			}
		</div>
		<div class="stats-sidebar">
			<h2>2025 Stats</h2>
			<p><strong>2025 Goal:</strong> 30mi</p>
			<table>
				<tbody>
					<tr>
						<th>Miles Hiked</th>
						<td>{stats2025.miles.toFixed(2)}</td>
					</tr>
					<tr>
						<th>Trails Completed</th>
						<td>{stats2025.trails}</td>
					</tr>
					<tr>
						<th>Parks Visited</th>
						<td>{stats2025.parks}</td>
					</tr>
					<tr>
						<th>Days Hiking</th>
						<td>{stats2025.days}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</Layout>
